body{
    
    font-family: 'Open Sans', sans-serif;
}
.half-width img{

    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(#FF8063,#FF8063);
    padding: 20px 60px;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
}

h1{
    padding: 0px;
    margin: 0px;
    color: #363958;
    font-size: 40px;
}

#chat{
    text-decoration: none;
    color: #FFFFFF;
}

section{
    height: 300px;
    padding-bottom: 20%;
}

.orange-highlight{
    color: #FF8367;
}

.half-width img{
    width: 75%;
}

.half-width{
    font-weight: bold;
    width: 40%;
    float: left;
    margin-left: 8%;
    margin-top: 10%;
   
}


.latest-projects{

   height: 550px;
   background-color: #F8F9FC;
    
}

#l3
{
    font-size:  24;
    text-align: center;
    padding: 50px;
}

.box{
    padding: 2%;
    float: left;
    margin-left: 3%;
    box-shadow: 10px gray;
    border-radius: 10px;
    height: 330px;
    width: 25%;
    background-color: white;
    
}
.box img{
    
    border-radius: 4px;
    padding-left: 1px;
    width: 100%;
    background-repeat: no-repeat;
    
}

.Work-Inquiry img{

    margin-top: 30%;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 200px;
   
}

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
   
}

.bottom-left {
    
    color: white;
    position: absolute;
    bottom: 90px;
    left: 16px;
    margin-left: 10%;
  }


  #winqtext
  {
      color: white;
  }


  .bottom-right {
    position: absolute;
    bottom: 80px;
    right: 1px;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 56%;
  }
 

.textleft{
    font-weight: bold;
    text-align: left;
    margin-left: 5%;
}

.footer{
    text-align: center;
 
}

.footericon img{
    margin-top: 20px;
    height: 50px;
}
